body{
    padding: 0px;
    margin: 0px;
}

.container-flexbox-row{
    display: flex;
    height: 100px;
    flex-direction: row;
    /* vw = viewport width */
    /* vh = viewport height */
}

.container-flexbox-column{
    display: flex;
    height: 100px;
    flex-direction: column;
}

.box{
    height: 100px;
    border: 1px solid black;
}

.satu{
    background-color: indigo;
    flex: 1;
}
.dua{
    background-color: salmon;
    flex: 2;
}
.tiga{
    background-color: red;
    flex: 1;
}



.container-layout{
    background-color: lightgray;
    height: 750px;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: darkgray;
    flex: 1;
}

.content{
    display: flex;
    flex: 5;
}

.footer{
    background-color: darkgray;
    flex: 1;
}

.sidebar{
    background-color: gray;
    flex: 1;
}

.main-content{
    flex: 4;
}



.container-layout-with-sidebar{
    display: flex;
    height: 80vh;
}

.sidebar-2{
    flex: 1;
    background-color: hotpink;
}

.content-2{
    flex: 4;
    background-color: indianred;
    padding-left: 40px;
}

.item{
    text-align: center;
    margin-top: 40px;
}
